{% extends "home.html" %}
{% block title %}
    Clientes
{% endblock %}
{% block content %}
    <h1>Lista de Fornecedores</h1>
    {% if fornecedor_list %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1"><small>Pagina <strong>{{ page_obj.number }}</strong>. Exibindo <strong>{{ page_obj.object_list.count }}</strong> com total de <strong>{{ page_obj.paginator.count }}</strong> items.</small></a>
                </li>

            </ul>
        </nav>

        <div class="container">
            <div class="row">
                <form method='GET'>
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" name="q_produto" value='{{ request.GET.q_produto }}'/>
                            <label class="form-label" for="form1">Procurar Fornecedores</label>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
                <div class="table-responsive">
                    <table class="table table-hover text-center table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">CPF</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Rua</th>
                            <th scope="col">Numero</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fornecedor in fornecedor_list %}
                            <tr data-href="{% url 'fornecedor-update' fornecedor.pk %}" style="cursor: pointer">
                                <th scope="row" >{{ fornecedor.pk }}</th>
                                <td> {{ fornecedor.nome_fantasia }} </td>
                                <td> {{ fornecedor.cidade_fornecedor }} </td>
                                <td> {{ fornecedor.rua_fornecedor }} </td>
                                <td> {{ fornecedor.numero_fornecedor  }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <p>Não existe nenhum cliente cadastrado</p>
    {% endif %}
    {% include '_pagination.html' %}
    <script>
        $('tr[data-href]').on("click", function() {
            document.location = $(this).data('href');
        });
    </script>
{% endblock %}