{% extends "home.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <canvas id="vendasChart" width="300" height="300"></canvas>
            </div>
            <div class="col-6">
                <canvas id="vendasNumChart" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
    <script>
        var ctx = document.getElementById("vendasChart");
        var total = JSON.parse('{{ total|safe }}');
        var date = JSON.parse('{{ date|safe }}');


        var productsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: date,
                datasets: [{
                    label: 'Valor Total',
                    data: total,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
    <script>
        var ctx = document.getElementById("vendasNumChart");
        var dcount = JSON.parse('{{ dcount|safe }}');
        var data_count = JSON.parse('{{ data_count|safe }}');

        var productsChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: data_count,
                datasets: [{
                    label: 'Numero de vendas',
                    data: dcount,
                    backgroundColor: [
                        'rgba(0, 500, 132, 0.2)',
                        'rgba(0, 500, 235, 0.2)',
                        'rgba(0, 500, 86, 0.2)',
                        'rgba(0, 500, 192, 0.2)',
                        'rgba(0, 500, 255, 0.2)',
                        'rgba(0, 500, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(0,500,132,1)',
                        'rgba(0, 500, 235, 1)',
                        'rgba(0, 500, 86, 1)',
                        'rgba(0, 500, 192, 1)',
                        'rgba(0, 500, 255, 1)',
                        'rgba(0, 500, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}